[Unit]
Description=smartwatch

[Service]
User=root
WorkingDirectory=/bin
ExecStartPre=/bin/sh -c 'while [ $(ls /dev/fb* | wc -l) -lt 1 ]; do echo "/dev/fb* not found" && sleep 1; done'
ExecStart=/bin/smartwatch

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
